.-mx-2.px-2.py-3.space-y-1.cursor-pointer{ class: 'hover:bg-menu-dark/25' }
  .flex.justify-between.items-center
    .flex.items-center.space-x-2
      .text-lg= skill.name
      - if character.generic?
        %span.text-gray-700 (#{skill.job.skillset})

    - if skill.respond_to?(:jp_cost)
      .flex
        .ml-2.text-cyan-900
          #{skill.jp_cost} JP

  .flex.flex-wrap
    .flex.mr-6
      .text-red-900 Effect:
      .ml-2= skill.data['formula']

  - if skill.data['element'].present?
    .flex.flex-wrap
      .flex.mr-6
        .text-red-900 Element:
        .ml-2= skill.data['element']

  .flex.flex-wrap
    - ['mp', 'ct', 'range', 'area', 'vert', 'target'].each do |prop|
      - next if skill.data[prop].blank?
      .flex.mr-6
        .text-red-900.capitalize #{stat_label(prop)}:
        .ml-2= skill.data[prop]

    .flex.mr-6
      .text-red-900.capitalize Evade:
      .ml-2= (evade = skill.data['evade']).present? ? evade : 'No'

  .flex.flex-wrap
    - ['reflectable', 'counter', 'counter_flood', 'counter_magic', 'mimic'].each do |prop|
      .flex.mr-6
        .text-red-900.capitalize #{stat_label(prop)}:
        .ml-2= skill.data[prop].present? ? 'Yes' : 'No'

  .flex.flex-wrap
    - ['atk_up', 'matk_up', 'martial_arts', 'two_hands', 'two_swords', 'protect', 'shell'].each do |prop|
      - next unless skill.data[prop].present?
      .flex.mr-6
        .text-red-900.capitalize #{stat_label(prop)}:
        .ml-2= skill.data[prop]
    
  
