.-mx-2.px-2.py-3.space-y-2.cursor-pointer{ class: 'hover:bg-menu-dark/25' }
  .flex.justify-between.items-center
    .flex.items-center.space-x-2
      %div= skill.name
      %span.text-gray-700 (#{skill.job.name})

    .flex
      .ml-1.text-cyan-900
        #{skill.jp_cost} JP&nbsp;

      - if character.generic? && character.unlock_costs[skill.job].positive?
        .text-gray-600{ title: 'Additional prerequisite costs to unlock this skill'}
          (+#{character.unlock_costs[skill.job]})

      - if (surplus = character.jp_summary.dig(:prereq_costs, skill.job).to_i - character.jp_summary.dig(:skill_costs, skill.job).to_i).positive?
        .text-gray-600{ title: 'Discount for surplus banked JP' }
          (-#{[surplus, skill.jp_cost].min})

  - if skill.data['move'].present? || skill.data['jump'].present?
    .flex.flex-wrap
      - ['move', 'jump'].each do |prop|
        - next if skill.data[prop].blank?
        .flex.mr-6.text-sm
          .text-red-900.capitalize #{stat_label(prop)}:
          .ml-1= "%+d" % skill.data[prop].to_i
    
  %p.text-left.text-sm
    %span.text-red-900.capitalize Description:
    %span= skill.data['formula']
