- content_for :modal_classes, 'font-mono'

- content_for :heading do
  .flex.items-center
    %h2.text-xl Select #{scope_label}:
    .flex-1.ml-4.relative
      .absolute.inset-y-0.left-0.flex.items-center.pl-1.pointer-events-none
        %svg.w-5.h-5.text-menu-dark{"aria-hidden" => "true", fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}

      %input.pl-8.w-full{ type: 'search', placeholder: 'Filter', class: text_field_classes, data: { action: 'quick-filter#filter', controller: 'quick-filter', quick_filter_filterable_outlet: '.filterable' } }


.divide-y.divide-menu-dark.w-full{ class: 'sm:w-[34rem]' }
  = render "teams/characters/skills/empty", current: @char.send(scope) unless @char.send(scope).blank?

  - @skills.each do |skill|
    .filterable{ data: { controller: 'filterable' } }
      = form_with(url: team_character_skills_path(team_id: @team.id, character_id: params[:character_id]), method: :patch, data: { controller: "form #{'auto-scroll' if skill == @char.send(scope)}", form_modal_outlet: '.modal-controller' }) do |f|
        = tag.button(class: 'w-full', data: { action: 'form#submit' }) do
          %input{ type: 'hidden', name: "character[#{scope}]", value: skill.id }
          = render "teams/characters/skills/rsm", skill: skill, character: @char
