.w-72
  = form_with(model: @team, url: download_teams_path, method: :post, data: { turbo: false }) do |f|
    .space-y-6
      %div
        = f.label(:player_name, 'Player Name', class: 'text-xs block')
        = f.text_field(:player_name, placeholder: 'Ramza Beoulve', data: { action: 'change->form#submit' }, class: text_field_classes)
      %div
        = f.label(:name, 'Team Name', class: 'text-xs  block')
        = f.text_field(:name, placeholder: 'Hokuten', data: { action: 'change->form#submit' }, class: text_field_classes)

      .flex.space-x-8
        %div
          = f.label(:palette_a, 'Palette', class: 'text-xs  block')
          = f.select(:palette_a, options_for_select(Team.palette_as.keys, @team.palette_a), {}, { class: "capitalize #{select_classes}" })
          
        %div
          = f.label(:palette_b, 'Palette (Alt)', class: 'text-xs  block')
          = f.select(:palette_b, options_for_select(Team.palette_bs.keys, @team.palette_b), {}, { class: "capitalize #{select_classes}" })

    .mt-6.text-right.space-x-6
      = button_tag('Cancel', class: neutral_button_classes, data: { action: 'modal#close' })
      = f.submit('Save Team', class: primary_button_classes)
