#events.divide-y.divide-gray-500
  - teams.each do |team|
    .flex.items-center
      %a.flex-1.group.block.py-4{ href: edit_team_path(team) }
        .text-orange-400.group-hover:text-orange-300.font-semibold= team.name || 'Unnamed Team'
        %div.text-sm
          %span.text-gray-300 Updated
          %span.text-white.font-semibold= relative_time(team.updated_at)
      
      .ml-4.flex.space-x-2
        %a.p-1.rounded-md.bg-gray-700.hover:bg-gray-600.h-8.w-8.flex{ href: edit_team_path(team) }
          = inline_svg_tag('icons/edit.svg', class: 'h-6 w-6 text-white')

        = link_to(team_path(team), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this team?' }) do
          .p-1.rounded-md.h-8.w-8.flex{ class: 'bg-red-500/50 hover:bg-red-500/75'}
            = inline_svg_tag('icons/delete.svg', class: 'h-6 w-6 text-white')

  - if teams.blank?
    .py-4.text-gray-600.italic You have no teams yet
