= turbo_stream.replace('skills') do
  - if @char.generic?
    = render 'characters/skills', char: @char, team: @team
  - else
    = render 'characters/skills_monster', char: @char

= turbo_stream.replace('meta') do
  = render 'characters/meta', char: @char

= turbo_stream.replace("character-#{i}") do
  = render 'characters/summary', selected: true, char: @char, i: i

= turbo_stream.replace("team-summary") do
  = render 'teams/summary', team: @team

- if @refresh_secondary || @support_changed || @movement_changed
  = turbo_stream.replace('secondary-skills') do
    = render 'characters/secondary', char: @char, team: @team, i: i

- if @support_changed || @movement_changed || @char.monster?
  = turbo_stream.replace('mobility') do
    = render 'characters/mobility', char: @char

  = turbo_stream.replace('attack-evasion') do
    = render 'characters/attack_evasion', char: @char

  = turbo_stream.replace('equipment') do
    - if @char.generic?  
      = render 'characters/equipment', char: @char
    - else
      = render 'characters/equipment_monster', char: @char

  = turbo_stream.replace('vitals') do
    = render 'characters/vitals', char: @char

  = turbo_stream.replace('primary-skills') do
    - if @char.generic?  
      = render 'characters/primary', char: @char, team: @team, i: i
    - else
      = render 'characters/primary_monster', char: @char, team: @team, i: i
