= turbo_stream.replace('skills') do
  = render 'characters/skills', char: @char, team: @team

= turbo_stream.replace('meta') do
  = render 'characters/meta', char: @char

= turbo_stream.replace("character-#{i}") do
  = render 'characters/summary', selected: true, char: @char, i: i

= turbo_stream.replace("team-summary") do
  = render 'teams/summary', team: @team

- if @refresh_secondary
  = turbo_stream.replace('secondary-skills') do
    = render 'characters/secondary', char: @char, team: @team, i: i

- if @support_changed || @movement_changed
  = turbo_stream.replace('mobility') do
    = render 'characters/mobility', char: @char

- if @support_changed
  = turbo_stream.replace('attack-evasion') do
    = render 'characters/attack_evasion', char: @char

  = turbo_stream.replace('equipment') do
    = render 'characters/equipment', char: @char

  = turbo_stream.replace('vitals') do
    = render 'characters/vitals', char: @char
