= turbo_stream.replace('zodiac') do
  = render 'teams/characters/meta/zodiac', char: @char, i: i, team: @team

= turbo_stream.replace("character-#{i}") do
  = render 'teams/characters/summary', selected: true, char: @char, i: i, team: @team

= turbo_stream.replace("team-summary") do
  = render 'teams/summary', team: @team

- if @char.generic?
  = turbo_stream.replace('equipment') do
    = render 'teams/characters/equipment', char: @char, team: @team, i: i

= turbo_stream.replace('primary-skills') do
  - if @char.generic?
    = render 'teams/characters/primary', char: @char, team: @team, i: i
  - else
    = render 'teams/characters/primary_monster', char: @char, team: @team, i: i

= turbo_stream.replace('secondary-skills') do
  = render 'teams/characters/secondary', char: @char, team: @team, i: i