.-mx-2.px-2.py-3.space-y-2.cursor-pointer{ class: 'hover:bg-menu-dark/25' }
  
  .flex.justify-between.items-center
    %div= item.name

    .flex
      .text-cyan-900
        [#{item.data['formula']}]

  .flex.items-center.space-x-4
    - ['wp', 'w_ev'].each do |prop|
      - next if item.data[prop].blank?
      .flex.text-sm
        .text-red-900.capitalize #{prop.dasherize.upcase}:
        .ml-1= item.data[prop]

  - if ['attack', 'magic', 'speed', 'move', 'jump'].any? { |prop| item.data[prop].present? }
    .flex.flex-wrap
      - ['attack', 'magic', 'speed', 'move', 'jump'].each do |prop|
        - next if item.data[prop].blank?
        .flex.mr-4.text-sm
          .text-red-900.capitalize #{stat_label(prop)}:
          .ml-1= "%+d" % item.data[prop].to_i
  - if ['element', 'strengthens', 'absorbs', 'halves', 'weakness', 'immune', 'start', 'always'].any? { |prop| item.data[prop].present? }
    .flex.flex-wrap
      - ['element', 'strengthens', 'absorbs', 'halves', 'weakness', 'immune', 'start', 'always'].each do |prop|
        - next if item.data[prop].blank?
        .flex.mr-4.text-sm
          .text-red-900.capitalize #{prop}:
          .ml-1= item.data[prop]

  - if item.data['extra_effects'].present?
    .text-left.text-sm
      %span.text-red-900.capitalize Special:
      %span.ml-1
        = item.data['extra_effects']

  - ['proc', 'add', 'cancels'].each do |prop|
    - next if item.data[prop].blank?
    .text-left.text-sm
      %span.text-red-900.capitalize #{prop}:
      %span.ml-1
        - if item.data['proc_rate'].present?
          = item.data['proc_rate']
        = item.data[prop]
        - if item.data['proc_formula'].present?
          (#{item.data['proc_formula']})
  
  .flex.space-x-4.flex-wrap.text-sm
    - if item.data['flags'].present?
      %div= item.data['flags']
