= turbo_stream.update('attributes') do
  .flex.flex-1.space-x-10.bg-menu-texture.border-2.border-menu-dark.flex.px-4.py-2.sm:bg-transparent.sm:border-0.sm:p-0
    = render 'teams/characters/mobility', char: @char, team: @team
    = render 'teams/characters/weapons', char: @char, team: @team
  .flex.flex-1.bg-menu-texture.border-2.border-menu-dark.flex.px-4.py-2.sm:bg-transparent.sm:border-0.sm:p-0
    = render 'teams/characters/attack_evasion', char: @char, team: @team

= turbo_stream.replace('vitals') do
  = render 'teams/characters/vitals', char: @char, team: @team

= turbo_stream.replace('equipment') do
  = render 'teams/characters/equipment', char: @char, team: @team
