.mx-3.md:mx-8
  .font-sans.fixed.-mx-3.px-3.md:-mx-8.md:px-8.py-4.top-0.mb-6.w-screen{ class: 'bg-black/75' }
    .max-w-full
      .flex.flex-col.md:flex-row.justify-center.md:items-center.md:justify-between
        %div
          .flex.items-center
            %h1.text-white.text-xl.font-semibold= @event.title
            - if @event.user == current_user
              %a.ml-1.text-sm.text-orange-400.hover:text-orange-300{ href: edit_event_path(@event), data: { turbo_frame: 'modal' } }
                (Edit)
          %div.text-sm
            %span.text-gray-300 Organized by
            %span.text-white.font-semibold= @event.user.username
          %div.text-sm
            %span.text-gray-300= @event.deadline.past? ? 'Submissions closed' : 'Submissions close'
            %span.text-white.font-semibold= @event.deadline.to_formatted_s(:deadline)
          %div.text-sm
            %span.text-gray-300 Submissions:
            %span.text-white.font-semibold= @event.submissions.count
        
        = render 'events/show/actions', event: @event

  %div{ class: 'mt-[11rem] md:mt-[8.5rem]' }
    - if @event.description.present? || @event.mine?
      .font-sans.mb-6.max-w-full.md:max-w-screen-md{ class: 'xl:max-w-[72rem]'}
        = simple_format(@event.description || 'No description provided', class: 'text-gray-300 prose bg-gray-800 p-2 border-l-2 border-orange-500')

    - if @event.show_bracket?
      .font-sans.flex.items-center.mb-2
        .text-xs.text-white View bracket and submit predictions at 
        %a.ml-2.flex.items-center.text-xs.text-orange-400.hover:text-orange-300{ href: @event.bracket_url.sub('.svg', ''), target: '_blank', rel: 'noopener noreferer' }
          = inline_svg_tag('icons/challonge.svg', class: 'h-4 mr-1')
          Challonge
          = inline_svg_tag('icons/open_new.svg', class: 'h-4 w-4 ml-1')

      = turbo_frame_tag(:bracket_frame, src: (event_path(@event) unless turbo_frame?)) do
        - if turbo_frame?
          #bracket{ class: 'group/bracket' }
            = parse_bracket(@event).to_html.html_safe
      
    - else
      .font-sans.mb-6.max-w-full.md:max-w-screen-md{ class: 'xl:max-w-[72rem]'}
        .text-white.pt-2.bg-gray-800.rounded-lg
          %h2.px-4.my-2.text-lg.font-semibold.text-white My Submissions
          #my-submissions.space-y-2.px-4
            = render 'events/show/my_submissions', teams: @my_submissions, event: @event

      - if @event.mine?
        .font-sans.mb-6.max-w-full.md:max-w-screen-md{ class: 'xl:max-w-[72rem]'}
          .text-white.bg-gray-800.rounded-lg
            %h2.p-4.text-lg.font-semibold.text-white Pending Submissions
            #submissions.space-y-2.px-4
              = render 'events/show/submissions', teams: @submissions, event: @event

        .font-sans.mb-6.max-w-full.md:max-w-screen-md{ class: 'xl:max-w-[72rem]'}
          .text-white.bg-gray-800.rounded-lg
            %h2.p-4.text-lg.font-semibold.text-white Confirmed Submissions
            #bracket.space-y-2.px-4
              = render 'events/show/bracket', teams: @bracket, event: @event

        .font-sans.mb-6.max-w-full.md:max-w-screen-md{ class: 'xl:max-w-[72rem]'}
          .text-white.bg-gray-800.rounded-lg
            %h2.p-4.text-lg.font-semibold.text-white Cut Submissions
            #cut-submissions.space-y-2.px-4
              = render 'events/show/cut_submissions', teams: @cut_submissions, event: @event

  = render 'users/menu', back_path: dashboard_path
