.-mx-2.px-2.py-3.space-y-2.cursor-pointer{ class: 'hover:bg-menu-dark/25' }
  .flex.justify-between.items-center
    .flex.items-center.space-x-2
      %div= status.name
      
  .text-left.text-sm
    %span.text-red-900 Description:
    %span.ml-1= status.description

  .flex.flex-wrap
    .flex.mr-6.text-sm
      .text-red-900 Indicator:
      .ml-2= status.indicator

  .flex.flex-wrap
    .flex.mr-6.text-sm
      .text-red-900 Duration:
      .ml-2= status.duration.presence || 'Until removed'

  - if status.upgrades_to.present?
    .flex.flex-wrap
      .flex.mr-6.text-sm
        .text-red-900 Upgrades To:
        .ml-2= status.upgrades_to

    .text-left.text-sm
      %span.text-red-900 Upgrade Effect:
      %span.ml-1= status.upgrade_effect