- i = params[:id] || params[:character_id]

#equipment.w-full.px-2.py-2.bg-menu-texture.border-2.border-menu-dark.sm:bg-transparent.sm:border-0
  .text-xl.mb-1.text-menu-dark.pl-2 Equipment

  %table.table-auto.border-spacing-0.border-collapse.w-full
    %tr{ data: { controller: 'context', action: 'keydown.esc@window->context#close' } }
      %td.w-8.h-8.p-0
        .flex.items-center.justify-center
          = image_tag("icons/rhand.png", class: 'h-8') unless char.two_hands_engaged?
          = image_tag("icons/2hand.png", class: 'h-8') if char.two_hands_engaged? && char.rhand.present?
      %td.pl-1.text-lg{ class: ('text-menu-dark' if char.rhand.blank?) }
        = link_to(char.rhand&.name || 'Empty', character_items_path(character_id: i, scope: 'rhand'), data: { action: 'contextmenu->context#open:prevent', turbo_frame: 'modal' }, class: 'block w-full text-lg border-0 border-b-2 border-transparent hover:border-menu-dark')
        - if char.rhand.present?
          = wrap_tooltip do
            = render "characters/items/#{char.rhand.item_type}", item: char.rhand

    %tr{ data: { controller: 'context', action: 'keydown.esc@window->context#close' } }
      %td.w-8.h-8.p-0
        .flex.items-center.justify-center
          = image_tag("icons/lhand.png", class: 'h-8') unless char.two_hands_engaged?
          = image_tag("icons/2hand.png", class: 'h-8') if char.two_hands_engaged? && char.lhand.present?
      %td.pl-1.text-lg{ class: ('text-menu-dark' if char.lhand.blank?) }
        = link_to(char.lhand&.name || 'Empty', character_items_path(character_id: i, scope: 'lhand'), data: { action: 'contextmenu->context#open:prevent', turbo_frame: 'modal' }, class: 'block w-full text-lg border-0 border-b-2 border-transparent hover:border-menu-dark')
        - if char.lhand.present?
          = wrap_tooltip do
            = render "characters/items/#{char.lhand.item_type}", item: char.lhand

    - %w{ helmet armor accessory}.each do |slot|
      %tr{ data: { controller: 'context', action: 'keydown.esc@window->context#close' } }
        %td.w-8.h-8.p-0
          .flex.items-center.justify-center
            = image_tag("icons/#{slot}.png", class: 'h-8')
        %td.pl-1.text-lg{ class: ('text-menu-dark' if char.send(slot).blank?) }
          = link_to(char.send(slot)&.name || 'Empty', character_items_path(character_id: i, scope: slot), data: { action: 'contextmenu->context#open:prevent', turbo_frame: 'modal' }, class: 'block w-full text-lg border-0 border-b-2 border-transparent hover:border-menu-dark')
          - if char.send(slot).present?
            = wrap_tooltip do
              = render "characters/items/#{slot}", item: char.send(slot)
