.w-full.px-2.py-2{ class: 'sm:w-1/2' }
  %table.table-auto.border-spacing-0.border-collapse
    %tr
      %td.w-8.h-8
        .flex.items-center.justify-center
          = image_tag("icons/rhand.png", class: 'h-8') unless char.two_hands_engaged?
          = image_tag("icons/2hand.png", class: 'h-8') if char.two_hands_engaged? && char.rhand.present?
      %td.pl-1.text-lg{ class: ('text-menu-dark' if char.rhand.blank?) }
        = link_to(char.rhand&.name || 'Empty', character_items_path(character_id: params[:id], scope: 'rhand'), data: { turbo_frame: 'modal' })

    %tr
      %td.w-8.h-8
        .flex.items-center.justify-center
          = image_tag("icons/lhand.png", class: 'h-8') unless char.two_hands_engaged?
          = image_tag("icons/2hand.png", class: 'h-8') if char.two_hands_engaged? && char.lhand.present?
      %td.pl-1.text-lg{ class: ('text-menu-dark' if char.lhand.blank?) }
        = link_to(char.lhand&.name || 'Empty', character_items_path(character_id: params[:id], scope: 'lhand'), data: { turbo_frame: 'modal' })

    - %w{ helmet armor accessory}.each do |slot|
      %tr
        %td.w-8.h-8
          .flex.items-center.justify-center
            = image_tag("icons/#{slot}.png", class: 'h-8')
        %td.pl-1.text-lg{ class: ('text-menu-dark' if char.send(slot).blank?) }
          = link_to(char.send(slot)&.name || 'Empty', character_items_path(character_id: params[:id], scope: slot), data: { turbo_frame: 'modal' })
