.flex-1.px-4.py-2
  %table.table-auto.border-spacing-0.border-collapse
    %tr
      %td.w-8.h-8
        .flex.items-center.justify-center
          = image_tag("icons/rhand.png", class: 'h-6') unless char.two_hands_engaged?
          = image_tag("icons/2hand.png", class: 'h-6') if char.two_hands_engaged? && char.rhand.present?
      %td.pl-1.text-xl{ class: ('text-menu-dark' if char.rhand.blank?) }
        %select.w-64.text-xl.cursor-pointer.py-0.px-0.bg-transparent.border-0.border-b-2.border-transparent.hover:border-menu-dark.appearance-none.focus:outline-none.focus:ring-0.focus:border-menu-dark.peer{ name: 'character[rhand]', data: { action: 'change->form#submit' } }
          %option{ selected: ('selected' if char.rhand.blank?), value: nil } Empty
          - if char.can_equip_items?
            - Item.rhand(char).order(:id).each do |item|
              %option{ selected: ('selected' if item == char.rhand), value: item.id }= item.name

    %tr
      %td.w-8.h-8
        .flex.items-center.justify-center
          = image_tag("icons/lhand.png", class: 'h-6') unless char.two_hands_engaged?
          = image_tag("icons/2hand.png", class: 'h-6') if char.two_hands_engaged? && char.lhand.present?
      %td.pl-1.text-xl{ class: ('text-menu-dark' if char.lhand.blank?) }
        %select.w-64.text-xl.cursor-pointer.py-0.px-0.bg-transparent.border-0.border-b-2.border-transparent.hover:border-menu-dark.appearance-none.focus:outline-none.focus:ring-0.focus:border-menu-dark.peer{ name: 'character[lhand]', data: { action: 'change->form#submit' } }
          %option{ selected: ('selected' if char.lhand.blank?), value: nil } Empty
          - if char.can_equip_items?
            - Item.lhand(char).order(:id).each do |item|
              %option{ selected: ('selected' if item == char.lhand), value: item.id }= item.name

    - %w{ helmet armor accessory}.each do |slot|
      %tr
        %td.w-8.h-8
          .flex.items-center.justify-center
            = image_tag("icons/#{slot}.png", class: 'h-6')
        %td.pl-1.text-xl{ class: ('text-menu-dark' if char.send(slot).blank?) }
          %select.w-64.text-xl.cursor-pointer.py-0.px-0.bg-transparent.border-0.border-b-2.border-transparent.hover:border-menu-dark.appearance-none.focus:outline-none.focus:ring-0.focus:border-menu-dark.peer{ name: "character[#{slot}]", data: { action: 'change->form#submit' } }
            %option{ selected: ('selected' if char.send(slot).blank?), value: nil } Empty
            - if char.can_equip_items?
              - Item.send(slot).proficient(char).order(:id).each do |item|
                %option{ selected: ('selected' if item == char.send(slot)), value: item.id }= item.name
