- i = params[:character_id] || params[:id]

#meta.py-2.px-4.flex-1.flex.bg-menu-texture.border-2.border-menu-dark.h-30
  .space-y-2.flex.flex-col.justify-between.w-full    
    .flex
      = form_with(url: character_path(id: i), method: :patch, data: { controller: 'form' }) do |f|
        %select.bg-right.cursor-pointer.py-0.px-0.pr-4.bg-transparent.border-0.border-b-2.border-transparent.hover:border-menu-dark.appearance-none.focus:outline-none.focus:ring-0.focus:border-menu-dark.peer{ name: 'character[sex]', data: { action: 'change->form#submit' } }
          %option{ selected: ('selected' if char.sex == 'm'), value: 'm' } Male
          %option{ selected: ('selected' if char.sex == 'f'), value: 'f' } Female
          %option{ selected: ('selected' if char.sex == 'x'), value: 'x' } Monster

      = link_to(char.job.name, edit_character_job_path(character_id: i), data: { turbo_frame: 'modal' }, class: 'flex-1 border-0 border-b-2 border-transparent hover:border-menu-dark')
    
    = form_with(url: character_meta_path(character_id: i), method: :patch, data: { controller: 'form' }, class: 'w-full') do |f|
      .flex
        %div
          %label.mr-1{ for: 'brave' } Brave
          %input#brave.bg-right.w-10.py-0.px-0.bg-transparent.border-0.border-b-2.border-transparent.hover:border-menu-dark.appearance-none.focus:outline-none.focus:ring-0.focus:border-menu-dark.peer{ type: 'number', max: 70, min: 40, name: 'character[brave]', value: char.brave.to_i, data: { action: 'change->form#submit' } }
        .ml-1
          %label.mr-1{ for: 'faith' } Faith
          %input#faith.bg-right.w-10.py-0.px-0.bg-transparent.border-0.border-b-2.border-transparent.hover:border-menu-dark.appearance-none.focus:outline-none.focus:ring-0.focus:border-menu-dark.peer{ type: 'number', max: 70, min: 40, name: 'character[faith]', value: char.faith.to_i, data: { action: 'change->form#submit' } }

    .flex.items-center.justify-between
      = render 'characters/meta/zodiac', char: @char, i: i

      - if char.generic?
        = link_to("#{char.jp_total} JP", jp_summary_character_path(i), data: { turbo_frame: 'modal' }, class: 'border-0 border-b-2 border-transparent hover:border-menu-dark -mb-1')
      - else
        #{char.jp_total} JP
