#portrait.bg-menu-texture.border-2.border-menu-dark{ class: 'p-0.5 w-[5.025rem]' }
  - if char.generic?
    = image_tag("portraits/generics/#{char.job.name}-#{char.sex}.png".downcase, class: 'h-28')
  - else
    = image_tag("portraits/monsters/#{char.job.name}.png".downcase, class: 'h-28')
