- i = params[:character_id] || params[:id]

#secondary-skills.bg-menu-texture.border-2.border-menu-dark.px-4.py-2.flex-1
  - if char.secondary.present?
    .flex.text-xl.mb-1.text-menu-dark
      .flex-1= char.secondary.skillset
      %div JP

    = form_with(url: character_skills_path(character_id: i), method: :patch, data: { controller: 'form' }) do |f|
      %input{ name: 'character[skills][secondary][]', type: "hidden", value: '' }

      - available = char.secondary.skills.action.unique(char, team)
      - char.secondary.skills.action.order(:id).each_with_index do |skill, i|
        - disabled = !available.include?(skill)
        .flex
          %div
            %input.w-4.h-4.text-menu-dark.bg-gray-100.rounded.border-gray-300.focus:ring-menu-dark.focus:ring-2{ name: 'character[skills][secondary][]', id: "secondary_#{i}", type: "checkbox", value: skill.id, checked: char.secondary_skill_ids.include?(skill.id), disabled: disabled, data: { action: 'change->form#submit' } }
          .text-lg.flex-1.ml-3
            %label{ class: ('text-menu-dark' if disabled), for: "secondary_#{i}" }= skill.name
          .text-lg= skill.jp_cost
