- i = params[:character_id] || params[:id]

#skills.w-full.px-2.py-2.bg-menu-texture.border-2.border-menu-dark.sm:bg-transparent.sm:border-0
  .text-xl.mb-1.text-menu-dark.pl-2 Skills

  = form_with(url: character_skills_path(character_id: i), method: :patch, data: { controller: 'form' }) do |f|
    %table.table-auto.border-spacing-0.border-collapse.w-full
      %tr
        %td.w-8.h-8
          .flex.items-center.justify-center
            = image_tag('icons/skill-action.png', class: 'h-6')
        %td.pl-1.text-lg= char.job.skillset

      %tr
        %td.w-8.h-8
          .flex.items-center.justify-center
            = image_tag('icons/skill-action.png', class: 'h-6')
        %td.pl-1
          %select.w-full.text-lg.cursor-pointer.py-0.px-0.bg-transparent.border-0.border-b-2.border-transparent.hover:border-menu-dark.appearance-none.focus:outline-none.focus:ring-0.focus:border-menu-dark.peer{ name: 'character[secondary]', data: { action: 'change->form#submit' } }
            %option{ selected: ('selected' if char.secondary.blank?), value: nil }
            - if char.can_equip_skills?
              - Job.secondary(char).valid(char).order(:id).each do |job|
                %option{ selected: ('selected' if job == char.secondary), value: job.id }= job.skillset

      %tr{ data: { controller: 'context', action: 'keydown.esc@window->context#close' } }
        %td.w-8.h-8
          .flex.items-center.justify-center
            = image_tag('icons/skill-reaction.png', class: 'h-6')
        %td.pl-1
          - if char.can_equip_skills?
            = link_to(char.reaction&.name || 'Reaction', edit_character_skills_path(character_id: i, scope: 'reaction'), data: { action: 'contextmenu->context#open:prevent', turbo_frame: 'modal' }, class: "block w-full text-lg border-0 border-b-2 border-transparent hover:border-menu-dark #{'text-menu-dark' if char.reaction.blank?}")
            - if char.reaction.present?
              = wrap_tooltip do
                = render "characters/skills/rsm", skill: char.reaction, character: char

      %tr{ data: { controller: 'context', action: 'keydown.esc@window->context#close' } }
        %td.w-8.h-8
          .flex.items-center.justify-center
            = image_tag('icons/skill-support.png', class: 'h-6')
        %td.pl-1
          - if char.can_equip_skills?
            = link_to(char.support&.name || 'Empower', edit_character_skills_path(character_id: i, scope: 'support'), data: { action: 'contextmenu->context#open:prevent', turbo_frame: 'modal' }, class: "block w-full text-lg border-0 border-b-2 border-transparent hover:border-menu-dark #{'text-menu-dark' if char.support.blank?}")
            - if char.support.present?
              = wrap_tooltip do
                = render "characters/skills/rsm", skill: char.support, character: char

      %tr{ data: { controller: 'context', action: 'keydown.esc@window->context#close' } }
        %td.w-8.h-8
          .flex.items-center.justify-center
            = image_tag('icons/skill-movement.png', class: 'h-6')
        %td.pl-1
          - if char.can_equip_skills?
            = link_to(char.movement&.name || 'Support', edit_character_skills_path(character_id: i, scope: 'movement'), data: { action: 'contextmenu->context#open:prevent', turbo_frame: 'modal' }, class: "block w-full text-lg border-0 border-b-2 border-transparent hover:border-menu-dark #{'text-menu-dark' if char.movement.blank?}")
            - if char.movement.present?
              = wrap_tooltip do
                = render "characters/skills/rsm", skill: char.movement, character: char
