- i = params[:character_id] || params[:id]
- readonly ||= false

#equipment.w-full.px-4.py-2.flex-1.bg-menu-texture.border-2.border-menu-dark.sm:bg-transparent.sm:border-0
  .flex.text-lg.mb-1.text-menu-dark
    .flex-1 Passives
    %div JP

  = form_with(url: team_character_skills_path(team_id: team.id, character_id: i), method: :patch, data: { controller: 'form' }, class: 'space-y-0.5') do |f|
    %input{ name: 'character[skills][secondary][]', type: "hidden", value: '' }

    - char.job.monster_passives.order(Arel.sql("data ->> 'index'")).each_with_index do |skill, i|
      .flex{ data: { controller: 'context', action: 'keydown.esc@window->context#close click->context#help' } }
        %div
          %input.w-4.h-4.text-menu-dark.bg-gray-100.rounded.border-gray-300.focus:ring-menu-dark.focus:ring-2{ name: 'character[skills][secondary][]', id: "secondary_#{i}", type: "checkbox", value: skill.id, checked: char.secondary_skill_ids.include?(skill.id), disabled: readonly, data: { action: 'change->form#submit' } }
        .flex-1.ml-3
          %label{ for: "secondary_#{i}", data: { action: 'contextmenu->context#open:prevent' } }= skill.name
        %div= skill.jp_cost
        = wrap_tooltip do
          = render "teams/characters/items/accessory", item: skill
