- i = params[:character_id] || params[:id]
- readonly ||= false

#secondary-skills.bg-menu-texture.border-2.border-menu-dark.px-4.py-2.flex-1
  - if char.secondary.present?
    .flex.text-lg.mb-1.text-menu-dark
      .flex-1= char.secondary.skillset
      %div JP

    = form_with(url: team_character_skills_path(team_id: team.id, character_id: i), method: :patch, data: { controller: 'form' }) do |f|
      %input{ name: 'character[skills][secondary][]', type: "hidden", value: '' }

      - available = char.secondary.skills.action.unique(char, team).load
      %div{ class: 'space-y-0.5' }
        - char.secondary.skills.action.order(Arel.sql("data ->> 'memgen_id' desc")).each_with_index do |skill, i|
          - disabled = !available.include?(skill)
          .flex.items-center{ data: { controller: 'context', action: 'keydown.esc@window->context#close click->context#help' } }
            %div
              %input{ class: checkbox_classes, name: 'character[skills][secondary][]', id: "secondary_#{i}", type: "checkbox", value: skill.id, checked: char.secondary_skill_ids.include?(skill.id), disabled: readonly || disabled, data: { action: 'change->form#submit' } }
            .flex-1.ml-3
              %label{ class: ('text-menu-dark' if disabled), for: "secondary_#{i}", data: { action: 'contextmenu->context#open:prevent' } }= skill.name
            %div= skill.jp_cost
            = wrap_tooltip do
              = render "teams/characters/skills/action", skill: skill, character: char
