- i = params[:character_id] || params[:id]
- readonly ||= false

#skills.w-full.px-2.py-2.bg-menu-texture.border-2.border-menu-dark.sm:bg-transparent.sm:border-0
  .text-lg.mb-1.text-menu-dark.pl-2 Skills

  = form_with(url: team_character_skills_path(team_id: team.id, character_id: i), method: :patch, data: { controller: 'form' }) do |f|
    %table.table-auto.border-spacing-0.border-collapse.w-full
      %tr
        %td.w-8.h-6
          .flex.items-center.justify-center
            = image_tag('icons/skill-action.png', class: 'h-6')
        %td.pl-1= char.job.skillset

      %tr
        %td.w-8.h-6
          .flex.items-center.justify-center
            = image_tag('icons/skill-action.png', class: 'h-6')
        %td.pl-1
          %select.w-full.cursor-pointer.py-0.px-0.bg-transparent.border-0.border-b-2.border-transparent.hover:border-menu-dark.appearance-none.focus:outline-none.focus:ring-0.focus:border-menu-dark.peer{ name: 'character[secondary]', class: ('pointer-events-none' if readonly), data: { action: 'change->form#submit' } }
            %option{ selected: ('selected' if char.secondary.blank?), value: nil }
            - if char.can_equip_skills?
              - Job.secondary(char).valid(char).order(:id).each do |job|
                %option{ selected: ('selected' if job == char.secondary), value: job.id }= job.skillset

      - { reaction: 'Reaction', support: 'Empower', movement: 'Support' }.each do |slot, label|
        %tr{ data: { controller: 'context', action: 'keydown.esc@window->context#close' } }
          %td.w-8.h-6
            .flex.items-center.justify-center
              = image_tag("icons/skill-#{slot}.png", class: 'h-6')
          %td.pl-1
            - if char.can_equip_skills?
              = readonly_link_to(char.send(slot)&.name || label, edit_team_character_skills_path(team_id: team.id, character_id: i, scope: slot), data: { action: 'contextmenu->context#open:prevent', turbo_frame: 'modal' }, class: "block w-full border-0 border-b-2 border-transparent hover:border-menu-dark #{'text-menu-dark' if char.send(slot).blank?}", readonly:)
              - if char.send(slot).present?
                = wrap_tooltip do
                  = render "teams/characters/skills/rsm", skill: char.send(slot), character: char, team: team
