- hide_player_name ||= false

%a.group.block.py-4.font-semibold{ href: edit_team_path(team) }
  - if hide_player_name
    .text-orange-400.group-hover:text-orange-300= team.name || 'Unnamed Team'
  
  - else
    .text-orange-400.group-hover:text-orange-300= team.team_name_override.presence || team.name || 'Unnamed Team'

    %div
      %span.text-gray-300.font-light Player:
      %span.text-white= team.player_name_override.presence || team.player_name
      - if team.guest?
        %span.text-orange-200= '(guest)'

  %div
    %span.text-gray-300.font-light Updated:
    %span.text-white= team.updated_at.to_formatted_s(:deadline)