- hide_player_name ||= false

%a.group.block.py-4.font-semibold{ href: edit_team_path(team) }
  - if hide_player_name
    .text-orange-400.group-hover:text-orange-300= team.name || 'Unnamed Team'
  
  - else
    .text-orange-400.group-hover:text-orange-300= team.team_name_override.presence || team.name || 'Unnamed Team'

    %div
      %span.text-gray-300.font-light Player:
      %span.text-white= team.player_name_override.presence || team.player_name
      - if team.guest?
        %span.text-orange-200= '(guest)'

  %div
    %span.text-gray-300.font-light Updated:
    %span.text-white= relative_time(team.updated_at)

  .flex
    %span.text-gray-300.font-light JP Spent:
    .ml-1.flex.items-center
      %span{ class: (team.jp_total > 18000 ? 'text-red-400' : 'text-white') }
        #{team.jp_total}
      .ml-1
        - if team.jp_total > 18000
          = inline_svg('icons/cancel.svg', class: 'h-4 w-4 text-red-500')
        - else
          = inline_svg('icons/check-circle.svg', class: 'h-4 w-4 text-green-500')