= turbo_stream.update('submissions') do
  = render 'events/show/submissions', teams: @submissions, event: @event

= turbo_stream.update('bracket') do
  = render 'events/show/bracket', teams: @bracket, event: @event

= turbo_stream.update('cut-submissions') do
  = render 'events/show/cut_submissions', teams: @cut_submissions, event: @event
