- content_for :heading do
  .flex.items-center
    %h2.text-xl Submit a Team

= form_for(@submission, url: event_submissions_path(event_id: @event.id), data: { controller: 'form', form_modal_outlet: '.modal-controller' }) do |f|
  .space-y-6
    %div
      = f.label(:team_id, 'Team', class: 'text-xs block')
      - if @teams.any?
        %select.dark{ name: 'submission[team_id]', class: "w-full #{select_classes_neutral}" }
          - @teams.each do |team|
            %option.bg-gray-800.hover:bg-blue-600{ value: team.id }= team.name.presence || 'Unnamed Team'
      - else
        %span.text-white.italic
          You have no unsubmitted teams.
        %a.text-orange-400.hover:text-orange-300{ href: new_team_path, data: { turbo_frame: '_top' } }
          Make a new one?

  .mt-4.flex.justify-end.space-x-4
    = button_tag('Cancel', class: neutral_button_classes, data: { action: 'modal#close' })
    = f.submit('Submit Team', class: primary_button_classes, data: { action: 'form#submit' })
