.group.w-full.relative.mb-3{ data: { controller: 'toggle-class', toggle_class_class_value: 'eval-formula' } }
  .z-10.sticky.top-0{ class: 'bg-black/75' }
    .relative.px-3.flex.py-2.items-center.justify-between
      .flex.space-x-4
        .mb-1
          %div
            = tag.span('Team Name', class: 'text-[0.625rem] block text-white')
            = tag.span(@team.name, class: "text-white text-sm #{text_field_classes_neutral}")

        .mb-1
          %div
            = tag.span('Player Name', class: 'text-[0.625rem] block text-white')
            = tag.span(@team.player_name, class: "text-white text-sm #{text_field_classes_neutral}")

      .relative.flex.flex-col.items-end.group{"data-dial-init" => ""}
        %button.flex.items-center.justify-center.text-white.group-hover:bg-gray-700.rounded-lg.w-10.h-10.focus:ring-4.focus:ring-blue-300.focus:outline-none{"aria-controls" => "file-actions", "aria-expanded" => "false", "data-dial-toggle" => "file-actions", type: "button"}
          %svg.w-6.h-6{fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
            %path{d: "M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5", "stroke-linecap" => "round", "stroke-linejoin" => "round"}

        #file-actions.absolute.top-12.flex.flex-col.items-end.hidden.mt-2.space-y-2
          = link_to(clone_team_path(@team), class: 'flex items-center group cursor-pointer w-52', data: { turbo_method: :post } ) do
            .px-4.h-10.flex.justify-center.items-center.text-white.bg-gray-700.rounded-full.shadow-sm.hover:bg-gray-600.focus:ring-4.focus:ring-gray-300.focus:outline-none
              .mr-2.text-sm Copy to My Teams
              = inline_svg_tag('icons/copy.svg', class: 'h-5 w-5 text-white')
  
  .relative{ class: 'max-w-[50rem]'}
    .flex.mt-1
      .relative
        .fixed.flex.flex-col.fixed.top-0{ class: 'top-[3.75rem] h-[calc(100vh-72px)]' }
          = render 'teams/summary', team: @team
          
          = turbo_frame_tag(:lineup) do
            = form_with(url: team_lineup_path(team_id: @team), method: :patch, data: { controller: 'form lineup', lineup_target: 'form', turbo_frame: :lineup, readonly: true }) do
              - 4.times do |i|
                %div{ data: { team: @team.id, index: i, action: 'click->lineup#select:stop', lineup_target: 'character' }}
                  = render 'teams/characters/summary', selected: i == params[:id].to_i, char: @team.characters[i], i: i, readonly: true
          
          .mt-4.px-3.text-gray-400.hidden.sm:block.text-sm Team Colors
          #colors.flex.sm:flex-col.sm:px-1.mt-3.sm:mt-0
            = render 'teams/colors', team: @team, readonly: true

          #formula-toggle.mt-4.ml-1
            %label.cursor-pointer.flex.items-center
              %input.hidden.peer{ type: 'checkbox', data: { action: 'toggle-class#toggle' } }
              = inline_svg_tag('icons/calculate.svg', class: 'h-12 w-12 md:h-6 md:w-6 text-gray-400 peer-checked:text-blue-500 font-light')
              .hidden.md:block.text-white.text-sm Calculate Formulas?
      
      .w-full.mr-3{ class: 'ml-[4.25rem] sm:ml-[12.75rem]' }
        = turbo_frame_tag(:character_editor, src: team_character_path(team_id: @team.id, id: 0))

#overlay.hidden.fixed.w-full.h-full.top-0.left-0.right-0.z-10.bg-gray-700.opacity-70

= render 'users/menu', back_path: event_path(@event)
