= turbo_stream.update('my-submissions') do
  = render 'events/show/my_submissions', submissions: @my_submissions, event: @event

= turbo_stream.update('pending-submissions') do
  = render 'events/show/submissions', submissions: @submissions, event: @event

= turbo_stream.update('confirmed-submissions') do
  = render 'events/show/bracket', submissions: @bracket, event: @event

= turbo_stream.update('cut-submissions') do
  = render 'events/show/cut_submissions', submissions: @cut_submissions, event: @event
