.-mx-2.px-2.py-3.space-y-2.cursor-pointer{ class: 'hover:bg-menu-dark/25' }
  .flex.justify-between.items-center
    .flex.items-center.space-x-6
      %div= item.name

      - ['hp', 'mp'].each do |prop|
        - next if item.data[prop].blank?
        .flex.text-sm
          .text-red-900.capitalize #{prop.dasherize.upcase}:
          .ml-1= item.data[prop]

  - if ['attack', 'magic', 'speed', 'move', 'jump'].any? { |prop| item.data[prop].present? }
    .flex.flex-wrap
      - ['attack', 'magic', 'speed', 'move', 'jump'].each do |prop|
        - next if item.data[prop].blank?
        .flex.mr-6.text-sm
          .text-red-900.capitalize #{stat_label(prop)}:
          .ml-1= "%+d" % item.data[prop].to_i

  - if ['strengthens', 'absorbs', 'halves', 'weakness', 'immune', 'start', 'always'].any? { |prop| item.data[prop].present? }
    .flex.flex-wrap
      - ['strengthens', 'absorbs', 'halves', 'weakness', 'immune', 'start', 'always'].each do |prop|
        - next if item.data[prop].blank?
        .flex.mr-6.text-sm
          .text-red-900.capitalize #{prop}:
          .ml-1= item.data[prop]
