.-mx-2.px-2.py-3.space-y-1.cursor-pointer{ class: 'hover:bg-menu-dark/25' }
  
  .flex.justify-between.items-center
    .text-lg= item.name

    .flex
      .ml-2.text-cyan-900
        [#{item.data['formula']}]

  .flex.items-center.space-x-4
    - ['wp', 'w_ev'].each do |prop|
      - next if item.data[prop].blank?
      .flex
        .text-red-900.capitalize #{prop.dasherize.upcase}:
        .ml-2= item.data[prop]

  .flex.flex-wrap
    - ['attack', 'magic', 'speed', 'move', 'jump'].each do |prop|
      - next if item.data[prop].blank?
      .flex.mr-4
        .text-red-900.capitalize #{stat_label(prop)}:
        .ml-2= "%+d" % item.data[prop].to_i
    - ['element', 'strengthens', 'absorbs', 'halves', 'weakness', 'add', 'cancels', 'immune', 'start', 'always'].each do |prop|
      - next if item.data[prop].blank?
      .flex.mr-4
        .text-red-900.capitalize #{prop}:
        .ml-2= item.data[prop]

  - if item.data['proc'].present?
    .text-left
      %span.text-red-900.capitalize Proc Effect:
      %span.ml-2
        = item.data['proc']
        - if item.data['proc_formula'].present?
          (#{item.data['proc_formula']})

  .flex.space-x-4.flex-wrap
    - if item.data['flags'].present?
      %div= item.data['flags']
    - if item.data['female_only']
      %div Female Only
