= turbo_stream.update('attributes') do
  .flex.flex-1.space-x-10.bg-menu-texture.border-2.border-menu-dark.flex.px-4.py-2.sm:bg-transparent.sm:border-0.sm:p-0
    = render 'characters/mobility', char: @char
    = render 'characters/weapons', char: @char
  .flex.flex-1.bg-menu-texture.border-2.border-menu-dark.flex.px-4.py-2.sm:bg-transparent.sm:border-0.sm:p-0
    = render 'characters/attack_evasion', char: @char

= turbo_stream.replace('vitals') do
  = render 'characters/vitals', char: @char

= turbo_stream.replace('equipment') do
  = render 'characters/equipment', char: @char
