.divide-y.divide-gray-500
  - submissions.each do |submission|
    %div{ id: dom_id(submission, 'bracket'), data: { counter_target: 'item', scope: 'confirmed' } }
      - actions = capture do
        .flex.space-x-2.items-center
          - if event.state == 'open'
            %a.group.block.text-orange-400.hover:text-orange-300{ href: event_submission_path(event_id: event.id, id: submission.id), data: { turbo_method: :delete } }
              Delete

            %span.text-gray-500= '|'
            
          - if submission.event.show_memgen?
            %a.hidden.items-center.text-xs.text-orange-400.hover:text-orange-300.cursor-pointer{ class: 'group-[.memgen]/tabs:flex', data: { action: 'click->bracket#pick', player_id: submission.external_id } }
              = inline_svg_tag('icons/memory-card.svg', class: 'h-4 mr-1')
              Add to Card
              %title.hidden
                = submission.player_name_override.presence || submission.team.player_name

            %span.hidden.text-gray-500{ class: 'group-[.memgen]/tabs:inline' }= '|'

          - if event.state == 'open' || event.mine?
            %a.group.block.text-orange-400.hover:text-orange-300{ href: edit_event_submission_path(event_id: event.id, id: submission.id), data: { turbo_frame: :modal } }
              Rename

          - if event.state == 'open'
            %span.text-gray-500= '|'

            %a.group.block.text-orange-400.hover:text-orange-300{ href: cut_event_submission_path(event_id: event.id, id: submission.id), data: { turbo_method: :patch } }
              Cut

      = render 'events/submissions/submission', submission:, actions:

  - if submissions.blank?
    .py-4.text-gray-400.italic There are no confirmed teams for this event yet
