!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(name="turbo-cache-control" content="no-cache")/
    %title Ffteambuilder
    %meta(content="width=526,initial-scale=1" name="viewport")/

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.bg-gray-900.font-mono
    = yield

    = turbo_frame_tag :modal

    #overlay.hidden.fixed.w-full.h-full.top-0.left-0.right-0.z-10.bg-gray-700.opacity-70
